#b1 {
    margin: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    background-image: url(5496950_xlarge-500x0.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#b2 {
    margin: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    background-image: url(close-up-of-mandarin-duck-swimming-in-water-racconigi-cuneo-italy.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#b3 {
    margin: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    background-image: url(picture_of_the_day_hydrophobic_duck_1.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#b4 {
    margin: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    background-image: url(fdfff.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#b5 {
    margin: 15px;
    padding: 15px;
    width: 500px;
    height: 500px;
    background-image: url(Utka-27.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}